body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #efefef;
}
.container {
  width: 1024px;
  margin: 0 auto;
}

header {
  background-color: white;
  border-bottom: 1px orange solid;
  height: 60px;
}

header img {
  width: 150px;
  margin: 15px;
}

section {
  background-color: grey;
  height: 700px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.baseline {
  text-align: center;
  line-height: 40px;
}
.time {
  background-color: red;
  width: 400px;
  margin: 30px auto;
}

.time p {
  color: white;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  padding: 20px 0;
}

.images-block {
  margin: 20px auto;
  width: 200px;
  height: 200px;
  object-fit: cover;
  background-color: orchid;
  display: flex;
  flex: 1;
}

h1 {
  line-height: 50px;
  text-align: center;
  color: #393c6c;
}

h2 {
  color: yellow;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-top: 30px;
  line-height: 40px;
}

footer {
  height: 100;
}

footer p {
  background-color: violet;
  text-align: centre;
  line-height: 100;
}
